body {
    margin: 0;
    position: relative;
    min-height: 100%;
}

a {
    text-decoration: none;
    text-align: center;
}

.wrapper {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100vh;
    background: url('./Images/bg.jpg') center no-repeat;
    background-size: cover;
}

.textIcons {
    color: #ffbd26;
    display: inline-block;
}

.icon {
    color: white;
    background-color: #ffbd26;
    margin: 0 10px;
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
}

.fab.fa-instagram, .fab.fa-facebook-f {
    margin-left: 4px;
}

.icon.instagram {
    padding: 6px 6px;
}

.textSpotify {
    color: #ffbd26;
    display: block;
}

.spotify {
    cursor: pointer;
}

.logoVideo {
    text-align: center;
    width: 100%;
}

.blockInfos {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.firstInfos, .secondInfos {
    display: inline-block;
    text-align: center;
}

.firstInfos {
}

.secondInfos {
}

.info {
    color: #777777;
}


@media (min-width: 320px) {
    .socialMedia {
        text-align: right;
        font-size: 15px;
        padding-top: 20px;
        margin-right: 30px;
    }

    .logoVideo {
        margin-top: 40px;
    }

    .imgLogo {
        width: 150px;
        height: 50px;
        margin-bottom: 20px;
        padding: 0 20px;
    }

    .videoPPR {
        margin-bottom: 10px;
        width: 250px;
        height: 150px;
    }

    .icon, .textIcons {
        font-size: 15px;
    }

    .icon.facebook {
        padding: 7px 10px;
    }

    .icon.linkedin {
        padding: 7px 11px;
    }

    .textIcons, .textSpotify {
        font-size: 15px;
    }

    .firstInfos, .secondInfos {
        font-size: 15px;
        display: block;
        bottom: 0px;
    }

    .wrapper {
        min-height: 550px;
    }
}

@media (min-width: 425px) {
    .imgLogo {
        width: 240px;
        height: 80px;
        padding: 40px;
    }

    .videoPPR {
        margin-bottom: 10px;
        width: 350px;
        height: 200px;
        padding: 0 40px;
    }

    .logoVideo {
        margin-top: 60px;
    }
    
    .wrapper {
        min-height: 720px;
    }
}

@media (min-width: 715px) {
    .textSpotify {
        text-align: right;
        margin-right: 25%;
    }
}

@media (min-width: 920px) {
    .videoPPR {
        width: 550px;
        height: 400px;
        padding: 0 20px;
    }

    .imgLogo {
        padding: 150px 0;
        padding-right: 20px;
        width: 300px;
        height: 100px;
    }
    
    .textIcons, .icon, .textIcons, .textSpotify, .firstInfos, .secondInfos {
        font-size: 23px;
        font-weight: 700;
    }

    .wrapper {
        min-height: 850px;
    }
}

@media (min-width: 1024px) {
    .videoPPR {
        width: 650px;
        height: 500px;
        padding: 0 20px;
    }

    .info {
        display: inline-block;
        padding: 10px 10px;
    }

    .wrapper {
        min-height: 850px;
    }
}
